**Question:**

You are given a CSV file named sales_data.csv containing the following columns:

· Order ID

· Product

· Quantity Ordered

· Price Each

· Order Date

· City

Tasks:

1. Load the dataset into a pandas DataFrame.

2. Display the first 5 rows of the DataFrame.

3. Check for any missing values in the dataset.

4. Add a new column Total Sales that multiplies Quantity Ordered by Price Each.

5. Find the total sales for each city and display it as a new DataFrame.

6. Identify the product with the highest total sales.

Expected Output Example:

· A DataFrame displaying the total sales per city.

· The name of the product with the highest sales.



Write the pandas commands to perform these tasks.

In [1]:
import pandas as pd

In [3]:
# Task 1: Load the dataset into a pandas DataFrame
data = pd.read_csv('sales_data.csv')

In [4]:
# Task 2: Display the first 5 rows of the DataFrame
print("First 5 rows of the dataset:")
print(data.head())

First 5 rows of the dataset:
   Order ID                     Product  Quantity Ordered  Price Each  \
0    176558        USB-C Charging Cable                 2       11.95
1    176559  Bose SoundSport Headphones                 1       99.99
2    176560                Google Phone                 1      600.00
3    176561            Wired Headphones                 3       11.99
4    176562    Lightning Charging Cable                 1       14.95

  Order Date         City
0  1/22/2023     New York
1  1/23/2023  Los Angeles
2  1/23/2023      Chicago
3  1/24/2023      Houston
4  1/24/2023     New York

In [5]:
# Task 3: Check for any missing values in the dataset
print("\nMissing values in the dataset:")
print(data.isnull().sum())

Missing values in the dataset:
Order ID            0
Product             0
Quantity Ordered    0
Price Each          0
Order Date          0
City                0
dtype: int64

In [6]:
# Task 4: Add a new column Total Sales that multiplies Quantity Ordered by Price Each
# Convert 'Quantity Ordered' and 'Price Each' to numeric if they are not already
# Handling potential conversion errors with 'coerce', then dropping invalid rows
data['Quantity Ordered'] = pd.to_numeric(data['Quantity Ordered'], errors='coerce')
data['Price Each'] = pd.to_numeric(data['Price Each'], errors='coerce')
data.dropna(subset=['Quantity Ordered', 'Price Each'], inplace=True)

In [7]:
# Calculate Total Sales
data['Total Sales'] = data['Quantity Ordered'] * data['Price Each']

In [8]:
# Task 5: Find the total sales for each city and display it as a new DataFrame
total_sales_per_city = data.groupby('City')['Total Sales'].sum().reset_index()
print("\nTotal sales per city:")
print(total_sales_per_city)

Total sales per city:
            City  Total Sales
0        Chicago      1800.00
1        Houston       835.97
2    Los Angeles       115.35
3       New York        38.85
4  San Francisco      1000.00

In [9]:
# Task 6: Identify the product with the highest total sales
product_sales = data.groupby('Product')['Total Sales'].sum()
highest_selling_product = product_sales.idxmax()
print("\nProduct with the highest total sales:")
print(highest_selling_product)

Product with the highest total sales:
ThinkPad Laptop